$theme-name: 'lightbrown';

$base-color: #d2cac2 !default;
$neutral-color: #fbf8f5 !default;

// -> GRID HEADER
$grid-header-background-color: #5e564e;
$grid-header-border-color: $neutral-color !default;
$grid-header-over-border-color: adjust-color($base-color, $hue: -0.175deg, $saturation: 25.296%, $lightness: -2.549%) !default;
$grid-header-over-background-color: #9dd96a;
$grid-header-background-color: $grid-base-color !default;
$grid-header-line-height: 15px !default;
$grid-header-padding: 3px 6px 4px !default;
$grid-header-trigger-height: 22px !default;
$grid-header-trigger-width: 14px !default;
$grid-header-color: null !default;

// -> BUTTON GROUP
$btn-group-header-background-color: #beb5ab;

// -> TABS
$tab-icon-top: 5px; //new variable for icon top added also in _tabs.scss
$tab-height: 25px !default;

// -> Custom to overwrite the zeblue styles
#right-dsEditor .x-panel-header-text-default, #treeControl_header_hd .x-panel-header-text-default, #curveTreePanel_header_hd .x-panel-header-text-default, #sourcetree_header .x-panel-header-text-default, #treeControl-placeholder_hd .x-panel-header-text-default, #right-dsEditor-placeholder_hd .x-panel-header-text-default, #userTemplateTree_header_hd .x-panel-header-text-default {
    color: #5a442d;
	}

.x-panel-header-text-default,.x-panel-header-text{
font-weight: normal;
}

.x-column-header {
    background-color: #cfc4ba !important;
}

.x-column-header-over {
    background-color: #a99582 !important;
}

#outGraph-body .x-panel-header-default {
    background: none repeat scroll 0 0 #d7ccc2;
    box-shadow: none;
}
.x-grid-header-ct {
    background-color: #e3dfd9 !important;
}
// -> end custom to overwrite the zeblue styles

@import 'compass';
@import 'ext4/default/all';

