/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont10 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 10px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont11 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 11px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont12 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 12px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont14 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 14px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont16 div {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 16px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont18 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 18px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont20 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 20px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont24 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 24px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont36 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 36px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont48 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 48px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont72 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 72px; }

/* line 52, ../sass/dashboard-window-header-theme.scss */
.x-window-header-windowfont96 div  {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 96px; }
